<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyler.space.sys.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.kyler.space.sys.pojo.User">
    <id column="USER_SID" jdbcType="BIGINT" property="userSid" />
    <result column="ACCOUNT" jdbcType="VARCHAR" property="account" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="PASSWORD64" jdbcType="VARCHAR" property="password64" />
    <result column="REAL_NAME" jdbcType="VARCHAR" property="realName" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="ORG_SID" jdbcType="BIGINT" property="orgSid" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_DT" jdbcType="TIMESTAMP" property="createdDt" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_DT" jdbcType="TIMESTAMP" property="updatedDt" />
    <result column="VERSION" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <trim prefix="where" prefixOverrides="and|or">
      <if test="condition.account != null">
         and ACCOUNT = #{condition.account}
      </if>
      <if test="condition.password != null">
         and PASSWORD = #{condition.password}
      </if>
      <if test="condition.password64 != null">
         and PASSWORD64 = #{condition.password64}
      </if>
      <if test="condition.realName != null">
         and REAL_NAME = #{condition.realName}
      </if>
      <if test="condition.sex != null">
         and SEX = #{condition.sex}
      </if>
      <if test="condition.email != null">
         and EMAIL = #{condition.email}
      </if>
      <if test="condition.mobile != null">
         and MOBILE = #{condition.mobile}
      </if>
      <if test="condition.orgSid != null">
         and ORG_SID = #{condition.orgSid}
      </if>
      <if test="condition.status != null">
         and STATUS = #{condition.status}
      </if>
      <if test="condition.remark != null">
         and REMARK = #{condition.remark}
      </if>
      <if test="condition.createdBy != null">
         and CREATED_BY = #{condition.createdBy}
      </if>
      <if test="condition.createdDt != null">
         and CREATED_DT = #{condition.createdDt}
      </if>
      <if test="condition.updatedBy != null">
         and UPDATED_BY = #{condition.updatedBy}
      </if>
      <if test="condition.updatedDt != null">
         and UPDATED_DT = #{condition.updatedDt}
      </if>
      <if test="condition.version != null">
         and VERSION = #{condition.version}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List">
    USER_SID, ACCOUNT, PASSWORD, PASSWORD64, REAL_NAME, SEX, EMAIL, MOBILE, ORG_SID, 
    STATUS, REMARK, CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION
  </sql>
  <select id="selectByParams" parameterType="com.kyler.space.common.Criteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_m_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_m_user
    where USER_SID = #{userSid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_m_user
    where USER_SID = #{userSid}
  </delete>
  <delete id="deleteByParams" parameterType="com.kyler.space.common.Criteria">
    delete from sys_m_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kyler.space.sys.pojo.User">
    <selectKey keyProperty="userSid" order="BEFORE" resultType="java.lang.Long">
      SELECT NEXTVAL('SEQ_SYS_M_USER')
    </selectKey>
    insert into sys_m_user (USER_SID, ACCOUNT, PASSWORD, PASSWORD64, REAL_NAME, SEX, 
      EMAIL, MOBILE, ORG_SID, STATUS, REMARK, CREATED_BY, CREATED_DT, 
      UPDATED_BY, UPDATED_DT, VERSION)
    values (#{userSid}, #{account}, #{password}, #{password64}, #{realName}, #{sex}, 
      #{email}, #{mobile}, #{orgSid}, #{status}, #{remark}, #{createdBy}, #{createdDt}, 
      #{updatedBy}, #{updatedDt}, #{version})
  </insert>
  <insert id="insertSelective" parameterType="com.kyler.space.sys.pojo.User">
    <selectKey keyProperty="userSid" order="BEFORE" resultType="java.lang.Long">
      SELECT NEXTVAL('SEQ_SYS_M_USER')
    </selectKey>
    insert into sys_m_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      USER_SID,
      <if test="account != null">
        ACCOUNT,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="password64 != null">
        PASSWORD64,
      </if>
      <if test="realName != null">
        REAL_NAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="orgSid != null">
        ORG_SID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="createdDt != null">
        CREATED_DT,
      </if>
      <if test="updatedBy != null">
        UPDATED_BY,
      </if>
      <if test="updatedDt != null">
        UPDATED_DT,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{userSid},
      <if test="account != null">
        #{account},
      </if>
      <if test="password != null">
        #{password},
      </if>
      <if test="password64 != null">
        #{password64},
      </if>
      <if test="realName != null">
        #{realName},
      </if>
      <if test="sex != null">
        #{sex},
      </if>
      <if test="email != null">
        #{email},
      </if>
      <if test="mobile != null">
        #{mobile},
      </if>
      <if test="orgSid != null">
        #{orgSid},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="createdBy != null">
        #{createdBy},
      </if>
      <if test="createdDt != null">
        #{createdDt},
      </if>
      <if test="updatedBy != null">
        #{updatedBy},
      </if>
      <if test="updatedDt != null">
        #{updatedDt},
      </if>
      <if test="version != null">
        #{version},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.kyler.space.common.Criteria" resultType="java.lang.Integer">
    select count(*) from sys_m_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map">
    update sys_m_user
    <set>
      <if test="record.userSid != null">
        USER_SID = #{record.userSid},
      </if>
      <if test="record.account != null">
        ACCOUNT = #{record.account},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password},
      </if>
      <if test="record.password64 != null">
        PASSWORD64 = #{record.password64},
      </if>
      <if test="record.realName != null">
        REAL_NAME = #{record.realName},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email},
      </if>
      <if test="record.mobile != null">
        MOBILE = #{record.mobile},
      </if>
      <if test="record.orgSid != null">
        ORG_SID = #{record.orgSid},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark},
      </if>
      <if test="record.createdBy != null">
        CREATED_BY = #{record.createdBy},
      </if>
      <if test="record.createdDt != null">
        CREATED_DT = #{record.createdDt},
      </if>
      <if test="record.updatedBy != null">
        UPDATED_BY = #{record.updatedBy},
      </if>
      <if test="record.updatedDt != null">
        UPDATED_DT = #{record.updatedDt},
      </if>
      <if test="record.version != null">
        VERSION = #{record.version},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map">
    update sys_m_user
    set USER_SID = #{record.userSid},
      ACCOUNT = #{record.account},
      PASSWORD = #{record.password},
      PASSWORD64 = #{record.password64},
      REAL_NAME = #{record.realName},
      SEX = #{record.sex},
      EMAIL = #{record.email},
      MOBILE = #{record.mobile},
      ORG_SID = #{record.orgSid},
      STATUS = #{record.status},
      REMARK = #{record.remark},
      CREATED_BY = #{record.createdBy},
      CREATED_DT = #{record.createdDt},
      UPDATED_BY = #{record.updatedBy},
      UPDATED_DT = #{record.updatedDt},
      VERSION = #{record.version}
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kyler.space.sys.pojo.User">
    update sys_m_user
    <set>
      <if test="account != null">
        ACCOUNT = #{account},
      </if>
      <if test="password != null">
        PASSWORD = #{password},
      </if>
      <if test="password64 != null">
        PASSWORD64 = #{password64},
      </if>
      <if test="realName != null">
        REAL_NAME = #{realName},
      </if>
      <if test="sex != null">
        SEX = #{sex},
      </if>
      <if test="email != null">
        EMAIL = #{email},
      </if>
      <if test="mobile != null">
        MOBILE = #{mobile},
      </if>
      <if test="orgSid != null">
        ORG_SID = #{orgSid},
      </if>
      <if test="status != null">
        STATUS = #{status},
      </if>
      <if test="remark != null">
        REMARK = #{remark},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy},
      </if>
      <if test="createdDt != null">
        CREATED_DT = #{createdDt},
      </if>
      <if test="updatedBy != null">
        UPDATED_BY = #{updatedBy},
      </if>
      <if test="updatedDt != null">
        UPDATED_DT = #{updatedDt},
      </if>
      <if test="version != null">
        VERSION = #{version},
      </if>
    </set>
    where USER_SID = #{userSid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kyler.space.sys.pojo.User">
    update sys_m_user
    set ACCOUNT = #{account},
      PASSWORD = #{password},
      PASSWORD64 = #{password64},
      REAL_NAME = #{realName},
      SEX = #{sex},
      EMAIL = #{email},
      MOBILE = #{mobile},
      ORG_SID = #{orgSid},
      STATUS = #{status},
      REMARK = #{remark},
      CREATED_BY = #{createdBy},
      CREATED_DT = #{createdDt},
      UPDATED_BY = #{updatedBy},
      UPDATED_DT = #{updatedDt},
      VERSION = #{version}
    where USER_SID = #{userSid}
  </update>
 
</mapper>