<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="edit">
<header th:replace="resources::resources-file">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Kyler.space</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
    <link rel="stylesheet" th:href="@{/editormd/css/editormd.css}" href="/editormd/css/editormd.css"/>
    <link rel="stylesheet" th:href="@{/tagsinput/bootstrap-tagsinput.css}"  href="/tagsinput/bootstrap-tagsinput.css" />
    <link rel="stylesheet" th:href="@{/tagsinput/app.css}" href="/tagsinput/app.css" />
    <link rel="stylesheet" th:href="@{/iCheck/all.css}" href="/iCheck/all.css"/>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
     <style type="text/css">
	    .box-header {
		    color: #444;
		    display: block;
		    padding: 10px;
		    position: relative;
	    }
	 </style>
</header>
<body>
<div th:include='header :: header(${active_head})'></div>
<div class="wrapper row-offcanvas row-offcanvas-left" id="mainDiv" style="margin: 0% 4%" th:fragment="mgt(path,fragment,active)" xmlns:th="http://www.thymeleaf.org">
    <div class="row" style="height:20px"></div>
    <div class="row">
		<div class="col-md-12">
			
			<ul class="breadcrumb" style="background-color:#fff">
				<li><a href="#"><i class="fa fa-home"></i> 文章管理</a></li>
				<li><a href="#">編輯文章</a></li>
				<li class="active">当前页</li>
			</ul>
		</div>
	</div>
	<div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header bg-info" >
                    <div class="row" style="padding:5px;">
                        <div class="col-sm-7" >
                            <div clas="form-group" style="padding-left:1%;width:98.5%">
                              <input class="form-control" type="text" id="title" placeholder="请输入文章标题……"/>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div clas="form-group">
                                <input  type="text" id="keywords" data-role="tagsinput" placeholder="請輸入关键字" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="form-group col-sm-7">
                        <div class="col-sm-4">
                            <select id="editormd-theme-select" class="form-control select2">
                                <option selected="selected" value="">工具栏样式</option>
                                <option selected="selected" value="default">default</option>
                                <option selected="selected" value="dark">dark</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select id="editor-area-theme-select" class="form-control select2">
                                <option selected="selected" value="">编辑区样式</option>
                                <option selected="selected" value="default">default</option>
                                <option selected="selected" value="dark">dark</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select id="preview-area-theme-select" class="form-control select2">
                                <option selected="selected" value="">预览区样式</option>
                                <option selected="selected" value="default">default</option>
                                <option selected="selected" value="dark">dark</option>
                            </select>
                        </div>
                    </div>
                       <div class="form-group col-sm-5 pull-right">
                        <div class="col-sm-6">
                            <label class="control-label">
                                <input type="checkbox" name="autoHeight" data-flag="icheck" class="square-green"
                                       id="autoHeight"/> 自适应高度
                            </label>
                            <input type="hidden" name="id" id="articleId"/>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group ">
                                <button class="btn btn-default"  id="markdown-back"><i class="fa fa-reply">&nbsp;&nbsp;返回</i></button>
                                <button class="btn btn-primary"  id="markdown-save"><i class="fa fa-save">&nbsp;&nbsp;保存</i></button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div clas="box-body">
                    <div class="editormd" id="editormd">
					    <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc" id="content"></textarea>
					    <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
					    <textarea class="editormd-html-textarea" name="text" id="htmlContent"></textarea>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
<script th:src="@{/editormd/js/editormd.js}" src="/editormd/js/editormd.js"></script>
<script th:src="@{/iCheck/icheck.min.js}" src="/iCheck/icheck.min.js"></script>
<script th:src="@{/js/demo.js}" src="/js/demo.js"></script>
<script th:src="@{/tagsinput/bootstrap-tagsinput.min.js}" src="/tagsinput/bootstrap-tagsinput.min.js"  type="text/javascript"></script>

<script th:inline="javascript">
/*<![CDATA[*/ 

var editor;

function themeSelect(id, themes, lsKey, callback) {
    var select = $("#" + id);
    
     for (var i in themes) {
    	var selected = (localStorage[lsKey] == themes[i]) ? " selected='selected'" : "";
    }

    select.bind("change", function () {
        var theme = $(this).val();
        if (theme === "") {
            return false;
        }
        localStorage[lsKey] = theme;
        callback(select, theme);
    });

    return select;
}
$(function () {
    //---初始化控件-----
    //高度自定义框
    $("#autoHeight").iCheck({
        checkboxClass: 'icheckbox_flat-green',
        radioClass: 'iradio_flat-green'
    });
    var isAutoHeight = localStorage.isAutoHeight ? localStorage.isAutoHeight : false;
    if (isAutoHeight == "false" || !isAutoHeight) {
        $("#autoHeight").iCheck("uncheck");
    } else {
        $("#autoHeight").iCheck("check");
    }
    /* var aid=[[${id}]];
    console.log(aid)
    if(aid!=''){
    	$.ajax({
    		url:'/articles/' + aid,
    		type:'get',
    		async:false,
    		success:function(result){
    			
    		}
    	})
    } */

    function fillLocalStorage(result){
        localStorage.mdtitle=result.title;
        localStorage.mdkeywords=result.keywords;
        localStorage.markdownContent=result.content;
    }
    //文章标题
    if(localStorage.mdtitle){
        $("#title").val(localStorage.mdtitle);
    }
    $("#title").on("change",function(event){
        var $title=$(event.target);
        localStorage.mdtitle=$title.val();
    })
    //keywords 关键字
    $("#keywords").on("change",function(event){
         var $element=$(event.target);
         var val = $element.val();
         //修复placeholder问题
         if(val){
             $element.prev(".bootstrap-tagsinput").find("input:eq(0)").attr("placeholder",null);
         }else{
             $element.prev(".bootstrap-tagsinput").find("input:eq(0)").attr("placeholder","关键字");
         }
        localStorage.mdkeywords=val;
    });
    var mdHeight = document.documentElement.clientHeight-200;
    $("#autoHeight").on("ifChanged", function (event) {
        isAutoHeight = $("#autoHeight").prop("checked");
        localStorage.isAutoHeight = isAutoHeight;
        if(editor){
            editor.config("autoHeight",isAutoHeight);
            //alert(isAutoHeight+" --> "+clientHeight);
            if(!isAutoHeight)
                editor.config("height",mdHeight);
        }
    });
    if(localStorage.mdkeywords){
        //alert(localStorage.mdkeywords);
        $("#keywords").tagsinput("add",localStorage.mdkeywords);
    }

    //markdown 默认内容
    var markdownContent = null;
    var article = [[${article}]]
    if(article){
        $("#title").val(article.title);
        $("#keywords").tagsinput("add",article.keywords);
        markdownContent = article.content;
    }else{
    	$.ajax({
            type: "get",
            url: "/editormd/readme.md",
            async: false,
            success: function (md) {
                markdownContent = md;
            }
        });
    }
    $("#articleId").val(article.id);
    
    editor = editormd("editormd", {
    	theme: (localStorage.theme) ? localStorage.theme : "default",
        previewTheme: (localStorage.previewTheme) ? localStorage.previewTheme : "default",
        editorTheme: (localStorage.editorTheme) ? localStorage.editorTheme : "default",
		width   : "100%",
        height  : mdHeight,

        codeFold : true,
        searchReplace : true,
        saveHTMLToTextarea : true,
        markdown: markdownContent,
        htmlDecode: "style,script,iframe",
        tex: true,
        emoji: true,
        taskList: true,
        flowChart: true,
        sequenceDiagram: true,
        path    : "/editormd/lib/",
        //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
        saveHTMLToTextarea : true,
        imageUpload : true,
        imageFormats : [ "jpg", "jpeg", "gif", "png", "bmp", "webp" ],
        imageUploadURL : "/file/uploadimg",
        onchange: function () {
            localStorage.markdownContent = editor.getMarkdown();
        }
    });
    $('#editormd-theme-select').bind("change", function () {
        var theme = $(this).val();
        if (theme === "") {
            return false;
        }
        localStorage["theme"] = theme;
        editor.setTheme(theme);
    });
    $('#editor-area-theme-select').bind("change", function () {
        var theme = $(this).val();
        if (theme === "") {
            return false;
        }
        localStorage["editorTheme"] = theme;
        editor.setCodeMirrorTheme(theme);
    });
    $('#preview-area-theme-select').bind("change", function () {
        var theme = $(this).val();
        if (theme === "") {
            return false;
        }
        localStorage["previewTheme"] = theme;
        editor.setPreviewTheme(theme);
    });
    /* themeSelect("editormd-theme-select", editormd.themes, "theme", function ($this, theme) {
        editor.setTheme(theme);
    });
    
    themeSelect("editor-area-theme-select", editormd.editorThemes, "editorTheme", function ($this, theme) {
        editor.setCodeMirrorTheme(theme);
    });

    themeSelect("preview-area-theme-select", editormd.previewThemes, "previewTheme", function ($this, theme) {
        editor.setPreviewTheme(theme);
    }); */

    //保存文章
    $("#markdown-save").click(function(){
        var obj_md={};
        var action;
        obj_md["content"]=editor.getMarkdown();
        obj_md["keywords"]=$("#keywords").val();
        obj_md["title"]=$("#title").val();
        if('' === $("#articleId").val()){
        	action = "/articles"
        }else{
        	obj_md["id"]=$("#articleId").val();
        	action = "/articles/update"
        }
        
        $.ajax({
            type: "post",
            url: action,
            async: false,
            data:obj_md,
            success: function (result) {
            	modals.info(result.message);
            	if(result.status == 'success'){
            		localStorage.markdownContent = '';
            	}
                
            }
        });
    });
    
});
/*]]>*/
    
</script>

</body>
</html>