<html xmlns:th="http://www.thymeleaf.org" th:fragment="edit">
<header th:replace="markdown/resources::resources-md">
<style type="text/css">
    .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
</style>
</header>
<body th:fragment="markdown_edit" >
<div class="row" style="height:20px"></div>
    <div class="row">
		<div class="col-md-12">
			<!--breadcrumbs start -->
			<ul class="breadcrumb" style="background-color:#fff">
				<li><a href="#"><i class="fa fa-home"></i> 系统管理</a></li>
				<li><a href="#">写博客</a></li>
				<li class="active">当前页</li>
			</ul>
		</div>
	</div>

    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header bg-info" style="padding-bottom: 0">
                    <div class="row" style="padding-bottom:5px;">
                        <div class="col-sm-7">
                            <div clas="form-group">
                              <input class="form-control" type="text" id="title" placeholder="请输入文章标题……"/>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div clas="form-group">
                                <input  type="text" id="keywords" data-role="tagsinput" placeholder="关键字" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                       <div class="form-group col-sm-7">
                        <div class="col-sm-4">
                            <select id="editormd-theme-select" class="form-control select2">
                                <option selected="selected" value="">工具栏样式</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select id="editor-area-theme-select" class="form-control select2">
                                <option selected="selected" value="">编辑区样式</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select id="preview-area-theme-select" class="form-control select2">
                                <option selected="selected" value="">预览区样式</option>
                            </select>
                        </div>
                    </div>
                       <div class="form-group col-sm-5 pull-right">
                        <div class="col-sm-6">
                            <label class="control-label">
                                <input type="checkbox" name="autoHeight" data-flag="icheck" class="square-green"
                                       id="autoHeight"/> 自适应高度
                            </label>
                            <input type="hidden" name="code" id="code"/>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="btn-group ">
                                <button class="btn btn-default"  id="backMD"><i class="fa fa-reply">&nbsp;&nbsp;返回</i></button>
                                <button class="btn btn-primary"  id="submitMD"><i class="fa fa-save">&nbsp;&nbsp;保存</i></button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div clas="box-body">
                    <div id="editormd">
                        <textarea style="display:none;"></textarea>

                    </div>
                </div>
            </div>
        </div>
    </div>
<script th:src="@{/js/jquery.min.js}" src="/js/jquery.min.js"></script>
<script th:src="@{/editormd/js/editormd.js}" src="/editormd/js/editormd.js"></script>
<script type="text/javascript">
var editor;

$(function () {
    //文章标题
    $("#title").on("change",function(event){
        var $title=$(event.target);
    })

    //keywords 关键字
    $("#keywords").on("change",function(event){
         var $element=$(event.target);
         var val = $element.val();
         //修复placeholder问题
         if(val){
             $element.prev(".bootstrap-tagsinput").find("input:eq(0)").attr("placeholder",null);
         }else{
             $element.prev(".bootstrap-tagsinput").find("input:eq(0)").attr("placeholder","关键字");
         }
    });

    //markdown 默认内容
    var markdownContent = null;

    editor = editormd("test-editormd", {
        width   : "90%",
        height  : 640,
        syncScrolling : "single",
        //你的lib目录的路径，我这边用JSP做测试的
        tocm : true, // Using [TOCM]
        tex : true, // 开启科学公式TeX语言支持，默认关闭
        flowChart : true, // 开启流程图支持，默认关闭
        path : "/editormd/lib/",
        //这个配置在simple.html中并没有，但是为了能够提交表单，使用这个配置可以让构造出来的HTML代码直接在第二个隐藏的textarea域中，方便post提交表单。
        saveHTMLToTextarea : true,
        imageUpload : true,
        imageFormats : [ "jpg", "jpeg", "gif", "png", "bmp", "webp" ],
        imageUploadURL : "/uploadimg",
        onload: function () {
            //console.log('onload', this);
            //this.fullscreen();
            //this.unwatch();
            //this.watch().fullscreen();
            this.width("100%");
            this.height(480);
            //this.resize("100%", 640);
        }


    });


    //导出pdf
    $("#submitMD").click(function(){
        var obj_md={};
        obj_md["content"]=editor.getMarkdown();
        obj_md["keywords"]=$("#keywords").val();
        obj_md["title"]=$("#title").val();
        obj_md["id"]="${id?default('')}";
        ajaxPost(basePath+"/markdown/save",obj_md,function(result){
            if(result.success){
                modals.info("保存成功");
                returnToList();
            }
        })
    });

    $("#backMD").click(function () {
        returnToList();
    });
});




function returnToList(){
    loadPage(basePath+"/markdown/list");
}



</script>
</body></html>
