<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Kyler.space'">
<header th:replace="resources::resources-file">

<title>Kyler.space</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></link>
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</header>
<body class="skin-black" >
    <div th:include='header :: header(active)'></div>
    <div class="wrapper row-offcanvas row-offcanvas-left" th:fragment="list">
	<div class="row" style="height: 20px"></div>
	<div class="row">
		<div class="col-md-12">
			<ul class="breadcrumb" style="background-color: #fff">
				<li><a href="#"><i class="fa fa-home"></i> 系统管理</a></li>
				<li><a href="#">文章管理</a></li>
				<li class="active">当前页</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		    <!-- <table id="article_lists" class="margin:2% 5%"></table> -->
			<table id="article_lists" class="table table-striped table-bordered display">

			</table>
		</div>
	</div>
</div>
    <div class="footer-main" th:fragment="footer">
	    Copyright &copy; 2018.  <a href="http://www.kyler.space/" target="_blank" title="Kyler.space">Kyler.space</a>
    </div>
</body>
<script src="/datatables/jquery.dataTables.min.js" th:src="@{/datatables/jquery.dataTables.min.js}" ></script>
<!--
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
 <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script> -->
<script th:inline="javascript">
/*<![CDATA[*/   
function article_preview(id){
	console.log(id)
	alert(id)
}

function article_write(){
	console.log(234)
	alert(123)
}
$(document).ready(function() {
    var basePath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/;

	var tab = $('#article_lists').DataTable({
        bFilter: true,
        bSort: false,
        bInfo: false,
        bAutoWidth: false,
        sAjaxSource: "/articles/list",
		sAjaxDataProp: "",
		order: [[ 0, "asc" ]],
		language: { // 中文支持
            sUrl: "/common/json/zh_CN.json"
        },
        dom: 'l<"toolbar">frtip',
        initComplete: function(){
           $("div.toolbar").html('<a class="btn btn-sm btn-primary" id="article_add_btn" th:href="@{\'/markdown/article_edit\'}"><i class="fa fa-plus"></i>写文章</a>');           
        },
        aoColumns: [
			 {title:"文章标题",mData:'title'},
             {title:"关键字",mData:'keywords'},
             {title:"作者",mData:'author'},
             {title:"写作时间",mData:'createDateTime'},
             {title:"更新时间",mData:'updateDateTime'},
             {title:"标签",mData:'tagId'},
             {title:"状态",mData:'status'},
             {title:"",mData:'',render: function ( data, type, row ) {
            	 var content =
            		 "<a class='btn btn-sm btn-success pull-left' id='article_preview_btn' data-bind='"+ row.id +"'>预览</a>"+
            		 "&nbsp;&nbsp;<a class='btn btn-sm btn-primary' id='article_edit_btn' data-bind='"+ JSON.stringify(row) +"'>编辑</a>"+
            	     "&nbsp;&nbsp;<a class='btn btn-sm btn-danger' id='article_del_btn' data-bind='"+ row.id +"'>删除</a>"
                 return content
             } }
        ]
    })
    
    
    $('#article_lists').on('click', '#article_preview_btn', function(){
    	alert(2)
    	console.log($(this).attr('data-bind'))
    });
	
	$('#article_lists').on('click', '#article_edit_btn', function(){
    	alert(3)
    	console.log($(this).attr('data-bind'));
    });
	$('#article_lists').on('click', '#article_del_btn', function(){
    	alert(4)
    });
	$('#article_lists').on('click', '#article_add_btn', function(){
    	alert(1)
    });
	
	
	
    function article_preview(id){
		console.log(id)
		alert(id)
	}
	
	function article_write(){
		console.log(234)
		alert(123)
	}
})
/*]]>*/
</script>
</html>