
	<header class="header" th:fragment="header(active)">

		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<!-- <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a> -->
            <div class="navbar-left" style="padding-left:50px;color:#fff"><h3>Kyler.space</h3></div>
			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<!-- Messages: style can be found in dropdown.less-->
					<li class="dropdown messages-menu" th:class="${active eq 'about'} ? head-bkg ">
					    <a th:href="@{'/about'}"  th:class="${active eq 'about'} ? a-hover "> 
					                 关于我
					    </a>

					</li>
					<li class="dropdown messages-menu" th:class="${active eq 'blogs'} ? head-bkg ">
					    <a th:href="@{'/blogs'}" th:class="${active eq 'blogs'} ? a-hover "> 
					                我的博文
					    </a>

					</li>
					<li class="dropdown messages-menu" th:class="${active eq 'havefun'} ? head-bkg ">
					    <a th:href="@{'/relax'}" th:class="${active eq 'havefun'} ? a-hover "> 
					                休闲一刻
					    </a>
					</li>
					<li class="dropdown messages-menu" th:class="${active eq 'system'} ? head-bkg ">
					    <a th:href="@{'/system/'}" th:class="${active eq 'system'} ? a-hover "> 
					                系统管理
					    </a>
					</li>
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					       <i class="fa fa-user"></i> <span>Jane Doe <i class="caret"></i></span>
					    </a>
						<ul class="dropdown-menu dropdown-custom dropdown-menu-right">
							<li class="dropdown-header text-center">Account</li>

							<li><a href="#"> <i
									class="fa fa-clock-o fa-fw pull-right"></i> <span
									class="badge badge-success pull-right">10</span> Updates
							</a> <a href="#"> <i class="fa fa-envelope-o fa-fw pull-right"></i>
									<span class="badge badge-danger pull-right">5</span> Messages
							</a> <a href="#"><i class="fa fa-magnet fa-fw pull-right"></i> <span
									class="badge badge-info pull-right">3</span> Subscriptions</a> <a
								href="#"><i class="fa fa-question fa-fw pull-right"></i> <span
									class="badge pull-right">11</span> FAQ</a></li>

							<li class="divider"></li>

							<li><a href="#"> <i class="fa fa-user fa-fw pull-right"></i>
									Profile
							</a> <a data-toggle="modal" href="#modal-user-settings"> <i
									class="fa fa-cog fa-fw pull-right"></i> Settings
							</a></li>

							<li class="divider"></li>

							<li><a href="#"><i class="fa fa-ban fa-fw pull-right"></i>
									Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</header>
	
