<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Kyler.space',active='home'">
<header th:replace="resources::resources-file">
<title>Kyler.space</title>
</header>
<body class="skin-black" >
	<header class="header">

		<nav class="navbar navbar-static-top" role="navigation">
			<!-- Sidebar toggle button-->
			<!-- <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a> -->
			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<!-- Messages: style can be found in dropdown.less-->
					<li class="dropdown messages-menu">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
					                 关于我
					    </a>

					</li>
					<li class="dropdown tasks-menu">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					                我的博文
					    </a>

					</li>
					<li class="dropdown tasks-menu">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					                休闲一刻
					    </a>
					</li>
					<li class="dropdown tasks-menu">
					    <a href="#" class="dropdown-toggle" data-url="sys-m-mgt.html">
					                系统管理
					    </a>
					</li>
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
					    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					       <i class="fa fa-user"></i> <span>Jane Doe <i class="caret"></i></span>
					    </a>
						<ul class="dropdown-menu dropdown-custom dropdown-menu-right">
							<li class="dropdown-header text-center">Account</li>

							<li><a href="#"> <i
									class="fa fa-clock-o fa-fw pull-right"></i> <span
									class="badge badge-success pull-right">10</span> Updates
							</a> <a href="#"> <i class="fa fa-envelope-o fa-fw pull-right"></i>
									<span class="badge badge-danger pull-right">5</span> Messages
							</a> <a href="#"><i class="fa fa-magnet fa-fw pull-right"></i> <span
									class="badge badge-info pull-right">3</span> Subscriptions</a> <a
								href="#"><i class="fa fa-question fa-fw pull-right"></i> <span
									class="badge pull-right">11</span> FAQ</a></li>

							<li class="divider"></li>

							<li><a href="#"> <i class="fa fa-user fa-fw pull-right"></i>
									Profile
							</a> <a data-toggle="modal" href="#modal-user-settings"> <i
									class="fa fa-cog fa-fw pull-right"></i> Settings
							</a></li>

							<li class="divider"></li>

							<li><a href="#"><i class="fa fa-ban fa-fw pull-right"></i>
									Logout</a></li>
						</ul></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="wrapper row-offcanvas row-offcanvas-left" id="mainDiv">

		<div th:include='system/sys-m-mgt :: mgt'></div>
		<!-- /.content -->
		<!-- <div class="footer-main">
			Copyright &copy; Director, 2018. More Templates <a
				href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>
			- Collect from <a href="http://www.cssmoban.com/" title="网页模板"
				target="_blank">网页模板</a>
		</div> -->

	</div>
	<!-- ./wrapper -->

</body>
<script type="text/javascript">
	$('input').on('ifChecked', function(event) {
		// var element = $(this).parent().find('input:checkbox:first');
		// element.parent().parent().parent().addClass('highlight');
		$(this).parents('li').addClass("task-done");
	});
	$('input').on('ifUnchecked', function(event) {
		// var element = $(this).parent().find('input:checkbox:first');
		// element.parent().parent().parent().removeClass('highlight');
		$(this).parents('li').removeClass("task-done");
	});
	
	$('input[type="checkbox"].flat-grey, input[type="radio"].flat-grey')
			.iCheck({
				checkboxClass : 'icheckbox_flat-grey',
				radioClass : 'iradio_flat-grey'
    });

</script>
</html>