<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='Kyler.space'">
<header th:replace="resources::resources-file">
<title>Kyler.space</title>
</header>
<body class="skin-black" >
    <div th:include='header :: header(${active_head})'></div>
    <div th:if="${level} == '0'">
        <div th:replace="@{${template_path}} :: ${template_fragment}" style="width:85%"></div>
    </div>
    <div th:if="${level} == '1'">
        <div th:replace="@{${template_path}} :: mgt(${path},${fragment},${active_left_menu})"></div>
    </div>	
    
    <div class="footer-main" th:fragment="footer">
	    Copyright &copy; 2018.  <a href="http://www.kyler.space/" target="_blank" title="Kyler.space">Kyler.space</a>
    </div>
</body>
<script src="/js/article/article-datatables.js" th:src="@{/js/article/article-datatables.js}" ></script>
<script src="/js/blog/blog-timeline.js" th:src="@{/js/blog/blog-timeline.js}" ></script>
<script type="text/javascript">
/*<![CDATA[*/ 
	var article = new Articles();
	article.initDataTables();
	
	var blog = new Blog_Timeline();
	blog.initBlog();
	/*]]>*/
</script>
</html>