<div class="modal fade" id="modal-save" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title">Modal Tittle</h4>
			</div>
			<div class="modal-body">Body goes here...</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
				<button class="btn btn-success" type="button">Save changes</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title">Modal Tittle</h4>
			</div>
			<div class="modal-body">Body goes here...</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
				<button class="btn btn-warning" type="button">Confirm</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h4 class="modal-title">Modal Tittle</h4>
			</div>
			<div class="modal-body">Body goes here...</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- modal -->
https://arranmaclean.wordpress.com/2014/01/04/twitter-bootstrap-dynamic-modal-confirmation-box/
http://fellowtuts.com/jquery/bootstrap-dynamic-modal-popup-with-dynamic-data-content/
https://stackoverflow.com/questions/28587269/bootstrap-modal-confirm-delete-with-dynamic-title