<!DOCTYPE html>
<html>
<head th:fragment="resources-file">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet" media="screen" />
<link href="/css/ionicons.min.css" th:href="@{/css/ionicons.min.css}" rel="stylesheet" media="screen" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

<link rel="stylesheet" th:href="@{/datatables/jquery.dataTables.min.css}" href="/datatables/jquery.dataTables.min.css"/>
<link rel="stylesheet" th:href="@{/datatables/dataTables.bootstrap.css}" href="/datatables/dataTables.bootstrap.css"/>

<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
<script src="/js/jquery-ui-1.10.3.min.js" th:src="@{/js/jquery-ui-1.10.3.min.js}" type="text/javascript"></script>
<script src="/iCheck/icheck.min.js" th:src="@{/iCheck/icheck.min.js}" ></script>
<script src="/datatables/jquery.dataTables.min.js" th:src="@{/datatables/jquery.dataTables.min.js}" ></script>
<script src="/datatables/dataTables.bootstrap.js" th:src="@{/datatables/dataTables.bootstrap.js}" ></script>
<script src="/js/modal.js" th:src="@{/js/modal.js}" ></script>
<script src="/js/timeline.js" th:src="@{/js/timeline.js}" ></script>
<script src="/js/common/core.js" th:src="@{/js/common/core.js}" ></script>

<link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
<link rel="stylesheet" th:href="@{/editormd/css/editormd.css}" href="/editormd/css/editormd.css"/>
<link rel="stylesheet" th:href="@{/tagsinput/bootstrap-tagsinput.css}"  href="/tagsinput/bootstrap-tagsinput.css" />
<link rel="stylesheet" th:href="@{/tagsinput/app.css}" href="/tagsinput/app.css" />
<link rel="stylesheet" th:href="@{/iCheck/all.css}" href="/iCheck/all.css"/>
<link rel="stylesheet" th:href="@{/css/timeline.css}" href="/css/timeline.css"/>

<link rel="stylesheet" th:href="@{/plugins/select2/select2.min.css}" href="/plugins/select2/select2.min.css" type="text/css"/>
<link rel="stylesheet" th:href="@{/plugins/bootstrap-validator/dist/css/bootstrap-validator.css}" href="/plugins/bootstrap-validator/dist/css/bootstrap-validator.css" type="text/css"/>
<script  src="/plugins/bootstrap-validator/dist/js/bootstrap-validator.min.js" th:src="@{/plugins/bootstrap-validator/dist/js/bootstrap-validator.min.js}"></script>
<script  src="/plugins/input-mask/jquery.inputmask.js" th:src="@{/plugins/input-mask/jquery.inputmask.js}"></script>
<script  src="/plugins/input-mask/jquery.inputmask.date.extensions.js" th:src="@{/plugins/input-mask/jquery.inputmask.date.extensions.js}"></script>
<script  src="/plugins/input-mask/jquery.inputmask.extensions.js" th:src="@{/plugins/input-mask/jquery.inputmask.extensions.js}"></script>
<script  src="/plugins/bootstrap-validator/dist/js/bootstrap-validator.min.js" th:src="@{/plugins/bootstrap-validator/dist/js/bootstrap-validator.min.js}"></script>
<script  src="/plugins/select2/select2.full.min.js" th:src="@{/plugins/select2/select2.full.min.js}"></script>

<script src="/js/form.js" th:src="@{/js/form.js}" ></script>
	
<link rel="shortcut icon" href="http://www.baidu.com" type="image/x-icon"/>

</head>
<body>
</body>
</html>
